body {
    margin: auto;
    min-height: 100vh;

    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #303030;
    /* color: black; */ /* Add later */
}
ul {
    list-style-type: none;
}
li {
    list-style-type: none;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr 100px;
}
.container > * {
    /* border: solid red 1px; */
}

/* NAV BAR */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #eaeaea;
    box-shadow: 0px 0px 28px #bababa; 
}

.nav-links {
    display: flex;
}
.nav-links > * {
    margin: 10px;
}

#logo {
    width: 37px;
    height: 37px;
    background-image: url(assets/img/logo.png);
    background-size: contain;

    margin-left: 10px;
}
#logo > a > span {
    display: none;
}

.main-container {
    display: flex;
    justify-content: center;
}
.main-container > * {
    height: 300px;
    width: 200px;
    /* border: black solid 1px; */
    border-radius: 5px;
    box-shadow: 0px 0px 10px #dbdbdb;

    margin: 30px;

    text-align: center;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    width: 80%;
}
.modal-close {
    cursor: pointer;
}

/* FOOTER */
footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 50px;

    background-color: #eaeaea;
}
#footer-copyright {
    grid-column: 1 / 7;
    grid-row: 2 / 3;

    justify-self: center;
}